---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="{{site.images_location}}/logo.png">
	<title>Sanchit Goel | Home</title>

	<!-- import fontawesome fonts -->
	<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
	<!-- import CSS files -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/index.css">

	{% include google_analytics.html %}
	
	{% seo %}
</head>

<body>

	<div class="container-fluid">
		
		<header class="row my-header py-4">
			<div class="col text-center">
			
				<div class="welcome">
					<h2>Hi! I'm</h2>
					<h1>Sanchit<span class="fw-normal">Goel</span></h1>
				</div>

				<div class="links">
					{% for link in site.data.links %}
					<a href="{{ link.href }}" title="{{ link.title }}">
						<i aria-hidden="true" class="{{ link.fontawesome_class }} mx-3"></i>
					</a>
					{% endfor %}
				</div>
			</div>
		</header>

		<section class="row my-about py-4">
			<div class="col-md-2 text-center mb-4 mb-md-0">
				<img src="{{site.images_location}}/me.jpeg" class="rounded mw-100 my-photo" alt="Photograph of Sanchit Goel">
			</div>
			<div class="col-md-8">
				<div class="aboutme-text">
					{% include aboutme.html %}
				</div>
			</div>
			<!-- <div class="col-md-2 mt-4 mt-md-0" id="awards">
				<h4 class="text-center">Awards</h4> -->
				<!-- <ul class="list-group list-group-flush mx-5 mx-md-0">
					{% for award in site.data.awards %}
					<li class="list-group-item px-1">{{ award }}</li>
					{% endfor %}
				</ul> -->
			<!-- </div> -->
		</section>

		<section id="work-experience" class="row my-work-experience py-4">
			<div class="col">
				<h1 class="text-center mb-4">Experience</h1>

				<div class="row g-0">
					<div class="col-12 col-md-6 offset-md-3">
						<div class="job-info d-flex justify-content-between">
							<div class="job-title">
								<b>Data Scientist</b>, <a href="https://fractal.ai/">Fractal.ai</a>
							</div>
							<div class="job-dates">
								<p class="card-text text-muted m-0"> 2020-23</p>
							</div>
						</div>
						<ul>
							<li>
								<b>Content Tagging Automation Platform </b>: Worked with Merck & Co. to develop a content tagging automation platform aimed at enhancing marketing engagement with healthcare professionals (HCPs).
							</li>
							<li>
								<b>Propay.bot</b>: Engineered an intelligent solution, utilizing NLP models such as Spacy, PYSBD, and Regex, to process and verify health insurance claims (PA and FWA contracts). This solution is currently in the process of being adopted by top health insurance firms including United Health & Cigna.
							</li>
							<li>
								<b>Power BI chatbot</b>:  Created a Proof of Concept for Heineken, enabling upper management to query their BI dashboard using natural language. The project was built using Azure Bot Service and has been accepted by Heineken, with financing planned for later this year.
							</li>
							<li>
								<b>Invoice Information Extraction</b>: Developed an end-to-end solution that automates invoice processing, utilizing Google Vision OCR and NLP techniques like LSTM and Regex. This solution has resulted in monthly time savings of over 100 hours and a reduction in manual errors.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>		
		

		<section class="row my-research py-4">

			<div class="col">
				<h1 class="text-center mb-4">Research</h1>
				{% for paper in site.papers reversed %}
					{% include paper_listing.html %}
				{% endfor %}
			</div>
			
		</section>
		
		<section class="row pb-4">
			
			<div class="col-12">
				<h1 class="text-center mb-4">Other Projects</h1>
			</div>
			
			<div class="col-12 my-projects">
				{% assign projects = site.data.projects | where:"display", true %}
				{% for project in projects %}
				<article class="project" data-project-no="{{ forloop.index }}">

					{% capture thumbnail_path %}{{site.images_location}}/{{project.thumbnail}}{% endcapture %}
					<h2 class="thumbnail" style="background-image: url({{ thumbnail_path }})"></h2>
			
					
					<h2 class="name">{{ project.name }}
						{% if project.link %}
						<a target="_blank" href="{{project.link}}" class="link">
							<i class="fas fa-external-link-alt" aria-hidden="true"></i>
						</a>
						{% endif %}
					</h2>
				
					<p class="stack">{{ project.keywords }}</p>
					<p class="description get-ellipsis">{{ project.description }}</p>
					<button class="expand"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
				</article>
				{% endfor %}
			</div>

		</section>

	</div>


	<!-- import jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- import custom js file -->
	<script src="assets/js/index.js"></script>
</body>
</html>