
<p>
    I am a <b>PhD student at Cornell</b>, advised by <a href="https://www.adityavashistha.com/">Aditya Vashistha</a>. Previously, I was a Research Fellow at Microsoft Research India, where I worked with <a href="https://scholar.google.com/citations?user=2WvQ1ZsAAAAJ&hl=en">Srinivasan Iyengar</a>, <a href="https://mohitjaindr.github.io/">Mohit Jain</a>, and <a href="https://www.microsoft.com/en-us/research/people/swmanohmicrosoft-com/">Manohar Swaminathan</a>.
</p>

<h6>Research Interests</h6>
<p>
    I work broadly in the intersection of <b>Human-Computer Interaction (HCI) and ICT & Development (ICTD)</b>. Application areas of my interest health, misinformation, sustainability, and sports. My work has been published at ACM CSCW, COMPASS, and SenSys. Some of my work is also open sourced by Microsoft: <a href="https://github.com/microsoft/modulo">github.com/microsoft/modulo</a>.
</p>

<h6>Past Life :)</h6>
<p>
    Prior to MSR, I graduated <i>magna cum laude</i> in Computer Science (major CGPA: 3.98) from <a href="http://ashoka.edu.in">Ashoka University</a>, India. At Ashoka, I was awarded the Undergraduate Research Excellence award. I also won the Student Life Excellence award for my contributions to student life and social impact. I have represented Ashoka in badminton, football, and tennis (which I've played at a national level).
</p>

<p class="m-0">
    <span class="text-danger fw-bold">Students:</span> If you think I can help you, please reach out. I love helping out!
</p>