
<p>
    I am currently a <b>Masters Student in Data Science at UCSD</b>. Before that I have worked as a data scientist for over 3 years at Fractal Analytics, developing intelligent solutions for fortune 100 clients like Merck, Cigna, and United Health. I graduated with a majors in Economics and a minor in Computer Science from <a href="http://ashoka.edu.in">Ashoka University</a>, India. 
</p>

<h6>Research Interests</h6>
<p>
    Application of NLP and AI/ML in the Healthcare and Cognitive science space. 
</p>
