
<p>
    I am currently a <b>Masters Student in Data Science at UCSD</b>. Prior to this, I worked as a data scientist at Fractal Analytics for over 3 years, where I developed intelligent solutions for Fortune 100 clients such as Merck, Cigna, and United Health. My educational background includes a major in Economics and a minor in Computer Science from <a href="http://ashoka.edu.in">Ashoka University</a>, India.
</p>

<h6>Research Interests</h6>
<p>
    My research interests revolve around the application of NLP and AI/ML in the fields of Healthcare and Cognitive Science.
</p>
